

.background-board {
    display: flex;
    background-color: #BFD7EA;
    justify-content: center;
}

.board {
    border-radius: 2em;
    border: 0.2em white dotted;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1.5em;
    background-color: #0B3954;
    margin-top: 5em;
    margin-bottom: 5em;
    max-width: 40em;
    min-width: 40em;
    max-height: 45em;
    min-height: 45em;
}

.console {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4em;
}

h1, h2, h3 {
    color: azure;
    margin: 0;
}

.winner-props {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.scores {
    display: flex;
    padding: 1.5em;
    flex-direction: column;
    gap: 0.5em;
    border: 0.1em white dotted;
    border-radius: 2em;
}

.buttons {
    display: block;
    margin: auto;
}

.buttons button {
    display: block;
    width: 5em;
    height: 3em;
    margin: 1em;
    padding: 0;
    background-color: #BFD7EA;
    border: 0.1em solid white;
    border-radius: 2em;
    color: #0B3954;
    font-weight: bold;
}

.buttons button:hover {
    cursor: pointer;
    scale: 1.1;
}